<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car Table</title>
</head>
<body>
<table>
    <tr>
        <th>Manuf</th>
        <th>Model</th>
        <th>Series</th>

    </tr>


    <tr th:each="car: ${cars}">
        <td th:text="${car.getManufacture()}">id</td>
        <td th:text="${car.getModel()}">models</td>
        <td th:text="${car.getSeries()}">series</td>
    </tr>
</table>
</body>
</html>